# venv
.venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc

# Ignore legacy scripts
scripts/old scripts/
scripts/test_bootstrap.py

# Выходные данные
data/normalized/
data/old group/
data/light_groups/

# Конфигурация конкретных пространств
templates/cabinet/
templates/corridor/
templates/lestnitsa/
templates/su

# Excel source (обычно не коммитят реальные таблицы)
data/Таблица_устройств_Химки (неактуальная).xlsx
data/Таблица_устройств_Химки.xlsx
data/Тестовая таблица.xlsx
data/lovelace_cards_report.json